<!DOCTYPE html>

<html>
  <head>
    <title>Environment GOLD Sampling Place</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <style type="text/css">
      #map { height: 500px; with: 800px}
    </style>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
    $(function(){
      $.getJSON("./environment_geographical_map/resources/place_list?meo_id={{select_meo_id}}", function(json) {
        if(json.place_list != null && json.place_list.length >0) {
          var frame_height = 500;
          $("#togogenome_css").remove();
          $(document.body).css("height", "100%");
          $(document.body).css("margin", "0px");
          $(document.body).css("padding", "0px");
          $("#map").css("height", (frame_height - 30) + "px");
          $("#map").css("border-radius", "4px");
          $("#map").css("box-shadow", "0 2px 2px rgba(0,0,0,0.2)");

          var map = L.map('map').setView([35.0, 139.0], 2);
          var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          });
          map.addLayer(tiles);
          for (var i = 0 ; i < json.place_list.length ; i++) {
            link = '';
            for (var k=0 ; k<json.place_list[i].goldlist.length ; k++) {
              link = link + '<a href="' + json.place_list[i].goldlist[k].gold + '" target="_blank">' + json.place_list[i].goldlist[k].gold_id + '</a> ';
            }
            L.marker([json.place_list[i].latitude, json.place_list[i].longitude]).bindPopup(json.place_list[i].place_name + '<br>' + link).addTo(map);
          }
          adjust_iframe_height(frame_height);
        } else {
          $("#map").text("No data");
          adjust_iframe_height();
        }
      });
    });
    function adjust_iframe_height(height_px) {
      var height = 0;
      if(height_px) {
        height = height_px;
      } else {
        height = document.body.offsetHeight + 30;
      }
      parent.postMessage(JSON.stringify({height: height, id: name}), "*");
    }
    </script>
  </head>

  <body>
    <div id="map"></div>
  </body>
</html>

