<!DOCTYPE html>
<html>
  <head>
    <title>Gene list</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.js"></script>    
    <script type="text/javascript">
      window.gene = {{{organism_gene_list}}};
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        var table = $('#contents').DataTable( {
          data: window.gene,
          deferRender: true,
          dom: '<"wrapper"fliptp>',
          fixedHeader: true,
          autoWidth: false,
          scrollX: true,
          mark: true,
          columns: [
            {
              data: 'gene_name',
              render: function ( data, type, row ) {
                if (data) {
                  if (type === "display" || type === "filter") {
                    if (row.gene) {
                      data = '<a target="_blank" href="' + row.gene + '">' + data + '</a>'
                    }
                    if (row.pseudo && row.pseudo === true) {
                      return data + ' (pseudo)';
                    }
                  }
                }
                return data;
              }
            },
            {
              data: 'seq',
              defaultContent: ''
            },
            {
              data: 'begin',
              defaultContent: '',
              className: 'dt-right'
            },
            {
              data: 'end',
              defaultContent: '',
              className: 'dt-right'
            },
            {
              data: null,
              defaultContent: '',
              className: 'dt-right',
              render: function ( data, type, row ) {
                if (row.begin && row.end) {
                  data = Math.abs(row.end - row.begin) + 1;
                }
                return data;
              }
            },
            {
              data: 'protein_name',
              defaultContent: ''
            },
            {
              data: 'ec_name',
              defaultContent: ''
            },
            {
              data: 'pathway_label',
              orderable: false,
              defaultContent: '',
              render: function ( data, type, row ) {
                if (data) {
                  if (type === "display" || type === "filter") {
                    var spl = data.split(';');
                    data = '<ul>'
                    spl.forEach(function (item, index, array) {
                      data += '<li>' + item + '</li>';
                    });
                    data += '</ul>'
                  }
                }
                return data;
              }
            },
            {
              data: 'biological_process',
              orderable: false,
              defaultContent: '',
              render: function ( data, type, row ) {
                if (data) {
                  if (type === "display" || type === "filter") {
                    var arr = data.concat();
                    data = '<ul>'
                    arr.forEach(function (item, index, array) {
                      data += '<li>' + item + '</li>';
                    });
                    data += '</ul>'
                  }
                }
                return data;
              }
            },
            {
              data: 'cellular_component',
              orderable: false,
              defaultContent: '',
              render: function ( data, type, row ) {
                if (data) {
                  if (type === "display" || type === "filter") {
                    var arr = data.concat();
                    data = '<ul>'
                    arr.forEach(function (item, index, array) {
                      data += '<li>' + item + '</li>';
                    });
                    data += '</ul>'
                  }
                }
                return data;
              }
            },
            {
              data: 'molecular_function',
              orderable: false,
              defaultContent: '',
              render: function ( data, type, row ) {
                if (data) {
                  if (type === "display" || type === "filter") {
                    var arr = data.concat();
                    data = '<ul>'
                    arr.forEach(function (item, index, array) {
                      data += '<li>' + item + '</li>';
                    });
                    data += '</ul>'
                  }
                }
                return data;
              }
            },
            {
              data: 'citation',
              defaultContent: '',
              className: 'dt-right'
            }
          ]
        } ).columns.adjust().draw();
      } );
    </script>
    <style type="text/css">
      th {
        border-right: 1px solid #dddddd;
      }
      th:first-child {
        border-left: 1px solid #dddddd;
      }
      mark {
        padding: 0;
        background: #f1c40f;
      }
    </style>
    {{adjust_iframe_height_script}}
  </head>
  <body>
    {{#if organism_gene_list}}
    <table id="contents" class='stripe nowrap'>
    <thead>
      <tr>
          <th>Gene</th>
          <th>RefSeq</th>
          <th>Begin</th>
          <th>End</th>
          <th>Length</th>
          <th>Protain name</th>
          <th>E.C.</th>
          <th>Pathway</th>
          <th>Biological process</th>
          <th>Cellular component</th>
          <th>Molecular function</th>
          <th>Citation</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    {{/if}}
  </body>
</html>
